* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    /* background-color: #F5EFED; */
    font-size: 2rem;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 320px;
    text-align: center;
    background-color: #2292A4;
}

header a {
    text-decoration: none;  /* para quitar el subrayado del la ancla */
    cursor: pointer;        /* para que aparezca la manita del cursor */
}

main {
    max-width: auto;
    margin: 0 auto;
    background-color: #F5EFED;
}